<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>862089951995-69q0f50k00n0m06vd6o0npeoo6ogl87r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862089951995-69q0f50k00n0m06vd6o0npeoo6ogl87r</string>
	<key>API_KEY</key>
	<string>AIzaSyAa1wrKYCGQiLtfm3f_nG8KQra4LuHM0ZE</string>
	<key>GCM_SENDER_ID</key>
	<string>862089951995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raisesoftware.raise</string>
	<key>PROJECT_ID</key>
	<string>raise-32e0e</string>
	<key>STORAGE_BUCKET</key>
	<string>raise-32e0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862089951995:ios:f23377076e6613ef</string>
	<key>DATABASE_URL</key>
	<string>https://raise-32e0e.firebaseio.com</string>
</dict>
</plist>